@import "tailwindcss";

@theme {
  --color-dark:  #292929;
  --color-beige: #f6f1ec;
  --color-brown: #806863;
}

html, body {
  margin: 0;    
  padding: 0;
  width: 100%;
  height: 100%;
}


@layer utilities {
  .font-sans {
    font-family: var(--font-montserrat), ui-sans-serif, system-ui, -apple-system,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }
  .font-serif {
    font-family: var(--font-playfair), Georgia, Cambria, "Times New Roman", Times, serif !important;
  }
}
